<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
        </intent>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@drawable/img_logo"
        android:label="TCR Super App"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/img_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="33">
        <activity
            android:name=".view.admin.galery.ActivityGalery"
            android:exported="false" />
        <activity
            android:name=".view.admin.customer.ActivityCustomer"
            android:exported="false" />
        <activity
            android:name=".view.admin.survey.ActivitySurveyDetail"
            android:exported="false" />
        <activity
            android:name=".view.admin.survey.ActivitySurveyAkhir"
            android:exported="false" />
        <activity
            android:name=".view.admin.survey.ActivitySurvey"
            android:exported="false" />
        <activity
            android:name=".view.admin.survey.ActivitySurveyCust"
            android:exported="false" />
        <activity
            android:name=".view.admin.survey.ActivitySurveyAwal"
            android:exported="false" />
        <activity
            android:name=".view.admin.survey.ActivitySurveyList"
            android:exported="false" />
        <activity
            android:name=".view.admin.fbl.ActivityFbl"
            android:exported="false" />
        <activity
            android:name=".view.admin.masukan.ActivityMasukan"
            android:exported="false" />
        <activity
            android:name=".view.admin.stok.ActivityStok"
            android:exported="false" />
        <activity
            android:name=".view.admin.absensi.ActivityAbsensiDetail"
            android:exported="false" />
        <activity
            android:name=".view.admin.absensi.ActivityAbsensi"
            android:exported="false" />
        <activity
            android:name=".view.admin.absensi.ActivityAbsensiList"
            android:exported="false" />
        <activity
            android:name=".view.admin.omzet.ActivityOmzet"
            android:exported="false" />
        <activity
            android:name=".view.admin.bukuharian.ActivityBukuharian"
            android:exported="false" />
        <activity
            android:name=".view.admin.monitorsales.ActivityMonitorsales"
            android:exported="false" />
        <activity
            android:name=".view.admin.ActivityBeranda"
            android:exported="false" />
        <activity
            android:name=".view.ActivityPassword"
            android:exported="false" />
        <activity
            android:name=".view.ActivityLogin"
            android:exported="false" />
        <activity
            android:name=".view.ActivityLoading"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.tcrsuperapp"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>